.MainHeading {
  font-size: 30px;
  color: #ffffff;
  margin-bottom: 20px;
  text-align: center;
  justify-content: center;
  width: 56rem;
  flex: 2;
  padding-top: 11rem;
  padding-left: 1rem;
  padding-right: 3rem;
}
.HeadingP {
  font-size: 20px;
  font-weight: semi-bold;
  color: #8e8e8e;
}

.MainHatIcon {
  padding: 20px 50px;
  flex: 1;
}

@media (max-width: 576px) {
  .FirstView {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .MainHatIcon {
    padding: 20px 20px;
    flex: auto;
  }
  .HatIcon {
    margin-left: 20px;
    width: 100%;
    height: 100%;
  }
  .MainHeading {
    font-size: 20px;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    flex-wrap: wrap;
    margin-left: 1rem;
  }
  .HeadingP {
    font-size: 22px;
    font-weight: 500;
  }
}

.MainEducation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.EducationCard {
  width: 1100px;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.EducationCardImg {
  border-color: #29c7ac;
  border-width: 1.5px;
  border-style: solid;
  border-radius: 50%;
  margin-right: 50px;
  margin-left: 50px;
}

.EducationCardImg img {
  padding: 20px;
  border-radius: 50%;
}

.EducationCardText {
  border-radius: 14px;
  border-color: #29c7ac;
  border-width: 1.5px;
  border-style: solid;
}

.EducationCardTextHeading {
  display: flex;
  margin-bottom: 10px;
  background-color: #29c7ac;
  border-radius: 10px 10px 0px 0px;
  padding: 10px;
  padding-top: 20px;
}

.EducationCardTextHeadingTitle {
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  width: 85%;
}

.EducationCardTextHeadingTitle h1 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.EducationCardTextHeadingTitle h3 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
}

.EducationCardTextDate p {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  /* padding-left: 400px; */
  /* padding-right: 10px; */
}

.EducationCardTextContent p {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 5px;
  padding-left: 10px;
  /* padding-right: 10px; */
}

.EducationCardTextContent h3 {
  color: #ffffff;
  margin-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.EducationCardTextContent ul {
  list-style-type: none;
  padding-left: 0;
  text-align: justify;
}

.EducationCardTextContent li {
  position: relative;
  padding-left: 1.5em;
  line-height: 1.5em;
}

.EducationCardTextContent li::before {
  content: "»";
  position: absolute;
  top: -5px;
  left: -10px;
  font-size: 2.5em;
  --hue: 0;
  color: hsl(var(--hue) 50% 50%);
}

.EducationCardTextContent li:nth-child(2)::before {
  --hue: 50;
  font-size: 2.5rem;
}

.EducationCardTextContent li:nth-child(3)::before {
  --hue: 100;
  font-size: 2.5rem;
}

.EducationCardTextContent li:nth-child(4)::before {
  --hue: 200;
  font-size: 2.5rem;
}

.EducationCardTextContent li:nth-child(5)::before {
  --hue: 250;
  font-size: 2.5rem;
}
#FFF {
  color: #888888;
}

@media (max-width: 576px) {
  .MainEducation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .EducationCard {
    width: 100%;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  .EducationCardImg {
    border-color: #29c7ac;
    border-width: 1.5px;
    border-style: solid;
    border-radius: 50%;
    margin-right: 0px;
    margin-left: 0px;
  }
  .EducationCardImg img {
    padding: 20px;
    border-radius: 50%;
  }
  .EducationCardText {
    margin-top: 50px;
    border-radius: 14px;
    border-color: #29c7ac;
    border-width: 1.5px;
    border-style: solid;
  }
  .EducationCardTextHeading {
    display: flex;
    margin-bottom: 10px;
    background-color: #29c7ac;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
    padding-top: 20px;
  }
  .EducationCardTextHeadingTitle {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    width: 85%;
  }
  .EducationCardTextHeadingTitle h1 {
    color: #ffffff;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .EducationCardTextHeadingTitle h3 {
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
  }
  .EducationCardTextDate p {
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    /* padding-left: 400px; */
    /* padding-right: 10px; */
  }
  .EducationCardTextContent p {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 5px;
    padding-left: 10px;
    /* padding-right: 10px; */
  }
  .EducationCardTextContent h3 {
    color: #ffffff;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .EducationCardTextContent ul {
    list-style-type: none;
    padding-left: 0;
    text-align: justify;
  }
  .EducationCardTextContent li {
    position: relative;
    padding-left: 1.5em;
    line-height: 1.5em;
  }
  .EducationCardTextContent li::before {
    content: "»";
    position: absolute;
    top: -5px;
    left: -10px;
    font-size: 2.5em;
    --hue: 0;
    color: hsl(var(--hue) 50% 50%);
  }
  .EducationCardTextContent li:nth-child(2)::before {
    --hue: 50;
    font-size: 2.5rem;
  }
  .EducationCardTextContent li:nth-child(3)::before {
    --hue: 100;
    font-size: 2.5rem;
  }
  .EducationCardTextContent li:nth-child(4)::before {
    --hue: 200;
    font-size: 2.5rem;
  }
  .EducationCardTextContent li:nth-child(5)::before {
    --hue: 250;
    font-size: 2.5rem;
  }
  #FFF {
    color: #888888;
  }
}

.CardBody {
  background: linear-gradient(to right, #fff, #076585);
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.CardBody:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}
