/* * Hello and Computer Section */

.FirstView {
  display: flex;
}

.Homeintro {
  font-weight: 500;
  color: #ffffff;
  margin: 0;
  padding: 0;
  width: 650px;
  margin-left: 170px;
  margin-top: 10svh;
  padding-bottom: 10svh;
  flex: 1;
}

.Homeh1 {
  font-size: 4rem;
  font-weight: 1200;
  color: #ffffff;
}

.Homeh3 {
  font-size: 2rem;
  font-weight: 500;
  color: #aaaaaa;
  width: 500px;
}

.link_contactme {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.2rem;
  transition: all 0.38s ease-in-out;
  display: inline-block;
  position: relative;
  z-index: 1;
  padding: 4em;
  margin: -4em;
}

.computer {
  flex: 2;
  margin-top: 10svh;
}

@media (max-width: 1024px) {
  .Homeintro {
    font-weight: 500;
    color: #ffffff;
    margin: 0;
    padding: 0;
    width: 40svw;
    margin-left: 5svw;
    margin-top: 100px;
    padding-bottom: 10svh;
    flex: 1;
  }
  .Homeh1 {
    font-size: 3rem;
    width: 30svw;
  }
  .Homeh3 {
    font-size: 1.5rem;
    width: 35svw;
  }
}

@media (max-width: 768px) {
  .Homeh1 {
    font-size: 4rem;
  }
  .Homeh3 {
    font-size: 1.5rem;
  }
}

@media (max-width: 576px) {
  .FirstView {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .Homeh1 {
    font-size: 2.5rem;
    padding-left: 1rem;
    width: 100%;
  }
  .Homeh3 {
    font-size: 1.25rem;
    padding-left: 1rem;
    width: 100%;
  }
  .Homeintro {
    font-weight: 500;
    color: #ffffff;
    margin: 0 auto;
    padding: 0;
    max-width: 900px;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 5svh;
  }
  .computer {
    flex: auto;
    padding-left: -19px;
  }

  .buttonsCss {
    padding-left: 20px;
  }
  .contactMe {
    margin-left: 130px;
  }
  .loading {
    margin-left: -230px;
  }
}

/* ! ------------END--------- */

/* * What i do section */
