.navbar_toggle_hide {
  display: none;
}
.navbar_content {
  padding-right: -100px;
}

@media only screen and (max-width: 1026px) {
  .navbar_toggle_hide {
    display: block;
  }
}

@media screen and (max-width: 500px) {
  .navbar_content {
    width: 500px;
    /* display: none; */
  }
  .backgroundcolor{
    width: 500px;
  }
}
